@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.App {
  font-family: 'Open Sans';
  text-align: center;
  position: absolute;
 

 
  /* background-image: url('C:\Users\PUNRANI\OneDrive - Capgemini\Desktop\Resolvia\resolvia-ui\src\assets\discussions.jpg'); */
 
  background: linear-gradient(to right, rgb(233, 233, 234), rgb(140, 140, 141));
}

.form {
  position: relative;
  
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  padding: 20px;
  margin: auto;
  margin-top: 4vh;
  border: black 1px solid;
  border-radius: 10px;
}

#logo-name {
  font-family: 'Goldman';
  margin-top: 10px;
  text-decoration: none;
 font-size: 20px;
 color: black;
}

/* #register {
  margin-left: auto;
} */
