@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.App {
  font-family: 'Open Sans';
  text-align: center;
}

.form {
  max-width: 40%;
  height: 85vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #bed8ec;
  padding: 20px;
  margin-top: 4vh;
  border: black 1px solid;
  border-radius: 10px;
}

#logo-name {
  font-family: 'Goldman';
  margin-top: 10px;
  text-decoration: none;
 font-size: 20px;
 color: black;
}

#register {
  margin-left: auto;
}
