.typing-effect+p{
    color: "#034f84";
    display: inline-block;
    overflow: hidden;
    animation: typing 0.1s steps(1, end) infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  